    <div class="contact-container">
        <h1>Contato</h1>
        <div class="getintouch-content">
            <h2>Entre em Contato</h2>
            <p>Tem algo para discutir? Me mande uma mensagem por email e vamos conversar.</p>

            <div class="input-wrapper">
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="Seu Nome">
            </div>

            <div class="input-wrapper">
                <i class="fa-solid fa-envelope"></i>
                <input type="text" placeholder="Seu Email">
            </div>

            <div class="input-wrapper">
                <i class="fa-solid fa-message"></i>
                <input type="text" placeholder="Sua Mensagem">
            </div>
            
                <app-button [width]="'100%'" text="Enviar" icon="fa-solid fa-paper-plane" class="test"></app-button>

            <div>

            </div>

            <div>
                <p>erikscarcela&#64;gmail.com</p>
                <p>+55 (11) 94008-0990</p>

                <div>
                    <div>
                        <i class="fa-brands fa-github"></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>