@import "../../../scss/mixins.scss";
@import "../../../scss/_variables.scss";

#contact-container {
  @include background();

  h1 {
    @include text-gradient;
    text-align: center;
    font-size: 48px;
    padding-top: 6rem;
  }

  .contact-container-wrapper {
    @include flex-center();
    margin-top: 2rem;

    .getintouch-content {
      background-color: rgba(255, 255, 255, 0.1);
      border: 0.5px solid rgba(255, 255, 255, 0.2);
      padding: 2rem;
      border-radius: 0.5rem;

      h2 {
        @include text-gradient;
        font-size: 32px;
      }

      .getintouch-paragraph {
        color: $greyColor;
        margin-top: 1rem;
      }

      .input-wrapper {
        @include flex-center();
        align-items: flex-start;

        background-color: rgba(255, 255, 255, 0.2);
        border: 0.5px solid rgba(255, 255, 255, 0.2);
        border-radius: 0.25rem;
        padding: 0.75rem;
        margin: 0.75rem 0;

        i {
          color: $greyColor;
        }

        textarea,
        input {
          border: none;
          width: 100%;
          background-color: transparent;
          outline: none;

          &::placeholder {
            color: $greyColor;
          }
        }
      }

      .contact-info {
        @include flex-center();
        gap: 2rem;
        margin: 1.5rem 0;
        font-size: 18px;
        p,
        i {
          color: $greyColor;
        }
        i {
          font-size: 22px;
        }
      }

      .contact-info-social {
        @include flex-center();

        .info-social-wrapper {
          @include borderStyle;
          padding: 1.25rem 1.5rem;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 100%;
          i {
            font-size: 40px;
          }
        }
      }

      .copyright {
        text-align: center;
        color: $greyColor;
      }
      hr {
        margin: 2rem 0;
        border: 0.5px solid rgba(255, 255, 255, 0.2);
      }
    }
  }
}
