@import "../../../scss/mixins.scss";
@import "../../../scss/_variables.scss";

#contact-container {
  @include background();
  @include flex-center();
  flex-direction: column;

  h1 {
    @include text-gradient;
    font-size: 2.5rem;
    padding-top: 6rem;

    @include responsive(laptop) {
      font-size: 3rem;
    }
  }

  .getintouch-paragraph {
    color: $grey-color;
    text-align: center;
  }

  .getintouch-content {
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    width: 95%;

    h2 {
      color: $secondary-color;
    }

    .input-wrapper {
      @include flex-center();
      align-items: flex-start;
      gap: 0.5rem;
      background-color: rgba(255, 255, 255, 0.1);
      margin: 0.5rem 0;
      padding: 1rem;
      border-radius: 0.5rem;

      input,
      textarea {
        background-color: transparent;
        border: 0;
        outline: none;
        width: 100%;

        &::placeholder {
          color: $grey-color;
        }
      }

      i {
        color: $grey-color;
      }
    }

    button {
      @include animated-btn();
    }

    .contact-info {
      @include flex-center();
      gap: 0.5rem;
      margin: 1rem 0;
      padding: 0.75rem;
      border-radius: 0.5rem;
      background-color: rgba(255, 255, 255, 0.1);

      p,
      i {
        color: $grey-color;
      }
    }

    hr {
      border: 0.5px solid rgba(255, 255, 255, 0.3);
    }

    .social-icon-container {
      @include flex-center();
      gap: 1rem;
      margin: 1rem 0;

      .social-icon-wrapper {
        padding: 0.75rem 1rem;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 100%;

        i {
          font-size: 1.75rem;

          @include responsive(tablet) {
            font-size: 2.25rem;
          }
        }

        @include responsive(tablet) {
          padding: 1rem 1.25rem;
        }
      }
    }

    @include responsive(laptop) {
      width: 30rem;
    }
  }

  .copyright {
    text-align: center;
    margin-top: 1rem;
    color: $grey-color;
    font-size: 0.75rem;

    @include responsive(tablet) {
      font-size: 1rem;
    }

    @include responsive(laptop) {
      margin-top: 2rem;
    }
  }
}
