<div id="portfolio-container">
    <h1>Apresentação do Portfólio</h1>
    <p class="portfolio-description">
        Explore minha jornada de projetos e habilidades! Cada parte desta seção reflete meu percurso de aprendizado e evolução, destacando eus conhecimentos adquiridos ao longo do tempo.
    </p>

    <div class="portfolio-switcher">
        <div class="portfolio-switch-card">
            <i class="fa-solid fa-code"></i>            
            <p>Projetos</p>
        </div>
        <div class="portfolio-switch-card">
            <i class="fa-solid fa-microchip"></i>
            <p>Tecnologias</p>
        </div>
    </div>
    <div class="portfolio-card-container">
        <app-portfolio-card></app-portfolio-card>
        <app-portfolio-card></app-portfolio-card>
        <app-portfolio-card></app-portfolio-card>
    </div>
</div>