@import "../../../scss/mixins";

#portfolio-container {
    @include background();

   
    h1 {
        text-align: center;
        @include textGradient;
        padding-top: 6rem;
        font-size: 48px;
    }

    .portfolio-description {
        margin: .5rem auto;
        width: 50rem;
        text-align: center;
    }

    .portfolio-switcher {
        background-color: rgba(255, 255, 255, 0.1);
        @include justifyCenter(3rem);
        margin: 2rem auto;
        width: 70%;
        padding: 1.25rem;
        border-radius: .5rem;

        .portfolio-switch-card {
            text-align: center;
            background-color: rgba(255, 255, 255, 0.2);
            width: 40%;
            padding: .5rem 0;
            border-radius: 1rem;
            font-size: 20px;
        }
    }

    .portfolio-card-container {
        @include justifyCenter(1rem);
    }
}