<header>
    <img src="/logo.png" alt="logo">
    <nav>
        <a routerLink=[] fragment="home">Home</a>
        <a routerLink=[] fragment="aboutme">Sobre</a>
        <a routerLink=[] fragment="portfolio">Portfólio</a>
        <a routerLink=[] fragment="contact">Contato</a>
    </nav>
</header>

<div class="project-container">

    <div class="project-container-wrapper">
        <div class="project-info">
            <div class="project-path">
                <a routerLink="/"><i class="fa-solid fa-arrow-left"></i>Voltar</a>
                <p>Projetos</p>
                <i class="fa-solid fa-chevron-right"></i>
                <p>{{name}}</p>
            </div>

            <h1 class="project-title">{{ name }}</h1>
            <p class="project-description">
                {{ description }}
            </p>
           
            <div class="project-info-cards-container">
                <div class="project-info-card">
                    <div class="icon-wrapper blue"><i class="fa-solid fa-microchip" style="color: #5829d6;"></i></div>
                    <div>
                        <p class="project-number">{{techsQuantity}}</p>
                        <p class="number-description">Tecnologias</p>
                    </div>
                </div>
                <div class="project-info-card">
                    <div class="icon-wrapper pink"><i class="fa-solid fa-layer-group" style="color: #e75e98;"></i></div>
                    <div>
                        <p class="project-number">{{ featuresQuantity }}</p>
                        <p class="number-description">Funcionalidades</p>
                    </div>
                </div>
            </div>
            <app-button text="Ver Demo" icon_left="fa-solid fa-arrow-up-right-from-square"></app-button>
            <app-button text="GitHub" icon_left="fa-brands fa-github"></app-button>
            
            <div class="used-techs-title">
                <i><i class="fa-solid fa-microchip" style="color: #5829d6;"></i></i>
                <h3>Tecnologias Utilizadas</h3>
            </div>
            <div class="used-techs-container">
                <div class="techs">
                    <div class="icon-wrapper"><i class="fa-brands fa-node"></i></div>
                    <p>NodeJS</p>
                </div>
                <div class="techs">
                    <div class="icon-wrapper"><i class="fa-brands fa-node"></i></div>
                    <p>NodeJS</p>
                </div>  
                <div class="techs">
                    <div class="icon-wrapper"><i class="fa-brands fa-node"></i></div>
                    <p>NodeJS</p>
                </div>
                <div class="techs">
                    <div class="icon-wrapper"><i class="fa-brands fa-node"></i></div>
                    <p>NodeJS</p>
                </div>
                <div class="techs">
                    <div class="icon-wrapper"><i class="fa-brands fa-node"></i></div>
                    <p>NodeJS</p>
                </div>
                <div class="techs">
                    <div class="icon-wrapper"><i class="fa-brands fa-node"></i></div>
                    <p>NodeJS</p>
                </div>
                <div class="techs">
                    <div class="icon-wrapper"><i class="fa-brands fa-node"></i></div>
                    <p>NodeJS</p>
                </div>
            </div>
            
        </div>

        <div class="project-features">
            <img src="/swift.jpg" alt="">
            <div class="features">
                <div class="features-title">
                    <i class="fa-regular fa-star" style="color: #FFD43B;"></i>      
                    <h3>Funcionalidades</h3>
                </div>
                <div class="features-wrapper" *ngFor="let feature of features">
                    <i class="fa-solid fa-circle" style="color: #e75e98;"></i>
                    <p>{{ feature }}</p>
                </div>
            </div>
        </div>
    </div>
</div>