@import "../../../scss/mixins";

button {
  @include animated-btn;
  width: 100%;
  margin-top: 1rem;
  transition: 1s;

  i {
    margin-right: 0.5rem;
  }

  &:hover {
    transform: scale(1.05);
  }
}
