@import "../../../scss/mixins";

button {
    @include animatedGradientButton;
    width: 100%;
    margin-top: 1rem;
    transition: 1s;

    i { 
      margin-right: .5rem;
    }

    &:hover {
        transform: scale(1.05);
    }
  }
