<div class="home-container">
    <div class="home-content">
        <h1 class="fullstack-title">FullStack</h1>
        <h1 class="developer-title">Desenvolvedor</h1>
        <p>Sou um <span>DESENVOLVEDOR FULLSTACK</span> trabalho tanto na parte visual das aplicações (o que o usuário vê e usa) quanto nos bastidores (onde os dados são processados e armazenados).</p>
        <app-button text="Projetos" icon="fa-solid fa-arrow-up-right-from-square"></app-button>
        <app-button text="Contato" icon="fa-solid fa-arrow-up-right-from-square"></app-button>
        <div class="social-icons">
            <a href="https://github.com/erikscar" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/erik-scarcela/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
    <img src="/home.png" alt="homeImage">
</div>
