<div id="home-container">
  <div class="home-content">
    <h1>FullStack</h1>
    <h2>Desenvolvedor</h2>
    <p>
      Sou um <span>DESENVOLVEDOR FULLSTACK</span> trabalho tanto na parte visual
      das aplicações (o que o usuário vê e usa) quanto nos bastidores (onde os
      dados são processados e armazenados).
    </p>

    <a href="#portfolio-container">
      Projetos<i class="fa-solid fa-arrow-up-right-from-square"></i>
    </a>

    <a href="#contact-container">
      Contato <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </a>

    <div class="social-icons">
      <a href="https://github.com/erikscar" target="_blank"><i class="fa-brands fa-github"></i>
      </a>

      <a href="https://www.linkedin.com/in/erik-scarcela/" target="_blank"><i class="fa-brands fa-linkedin-in"></i>
      </a>
    </div>
  </div>
  <img src="/home.png" alt="homeImage" />
</div>