@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

#home-container {
  @include background();
  @include flex-center();
  gap: 3rem;

  img {
    width: 45rem;
  }

  .home-content {
    h1 {
      font-size: 4rem;
    }

    h2 {
      @include text-gradient;
      font-size: 6rem;
    }

    p {
      width: 40rem;
      font-weight: bold;
      margin: 1rem 0;
      line-height: 1.75rem;

      span {
        @include text-gradient;
        font-size: 1.5rem;
      }
    }
  }

  a {
    @include link-btn;
  }

  .social-icons {
    margin-top: 1rem;

    a {
      font-size: 2rem;
      padding: 0.75rem 1.25rem;

      i {
        margin: 0;
      }
    }
  }
}
