<div class="aboutme-container">
    <h1>Sobre Mim</h1>
    <div class="aboutme-content-wrapper">
        <div class="aboutme-content">
            <h2>Olá, eu sou</h2>
            <h3>ERIK SCARCELA ARAUJO</h3>
            <p>Desenvolvedor Fullstack com foco em criar aplicações completas e funcionais. Atuo no desenvolvimento de interfaces visuais intuitivas e na implementação de sistemas  para processar e armazenar dados de forma eficiente.
                Tenho experiência em tecnologias como .NET, ASP.NET Core, React.JS, e Node.JS, trabalhando tanto no front-end quanto no back-end.</p>
                <app-button text="Currículo" icon="fa-solid fa-download"></app-button>
                <app-button text="Ver Projetos" icon="fa-solid fa-code"></app-button>
        </div>
        <img src="/erik.png" alt="aboutmeImage">
    </div>

    <div class="aboutme-cards-container">
        <div class="cards">
            <div class="card-section">
                <div class="icon-wrapper"><i class="fa-solid fa-code"></i></div>
                <p class="section-number">8</p>
            </div>
            <div class="card-section">
                <div>
                    <p class="section-title">QUANTIDADE DE PROJETOS</p>
                    <p class="section-paragraph">Tornando Ideias em Soluções Digitais</p>
                </div>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>
        </div>

        <div class="cards">
            <div class="card-section">
                <div class="icon-wrapper"><i class="fa-solid fa-microchip"></i></div>
                <p class="section-number">10</p>
            </div>
            <div class="card-section">
                <div>
                    <p class="section-title">TECNOLOGIAS</p>
                    <p class="section-paragraph">Dominando Ferramentas para Alcançar Objetivos</p>
                </div>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>
        </div>

        <div class="cards">
            <div class="card-section">
                <div class="icon-wrapper"><i class="fa-solid fa-globe"></i></div>
                <p class="section-number">1</p>
            </div>
            <div class="card-section"> 
                <div>
                    <p class="section-title">ANOS DE PROGRAMAÇÃO</p>
                    <p class="section-paragraph">Jornada de Aprendizado Contínuo</p>
                </div>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>
        </div>

    </div>
</div>
