@import "../../../scss/variables";
@import "../../../scss/mixins";

button {
    @include borderStyle;
    background-color: #000;
    padding: .75rem 2.5rem;
    font-weight: 900;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 15px;
    transition: 1s;
    margin-top: 1rem;
  i {
    margin-left: .5rem;
  }
}
