@import "../../../scss/variables";
@import "../../../scss/mixins";

.borderBtn,
.commonBtn {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  color: #e75e98;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 15px;
  transition: 1s;
  margin: 1rem 1rem 0 0;
  display: inline-block;
  text-align: center;

  i {
    margin: 0 0.5rem;
  }
}

.commonBtn {
  @include borderStyle;
  color: #fff;
}

.gradientBtn {
  @include animated-btn;
}
