@import "../../../scss/mixins.scss";
@import '../../../scss/variables.scss';

html {
  scroll-behavior: smooth;
}
header {
    height: 10vh;
    width: 100%;
    background-color: #08031a;
    display: flex;
    justify-content: space-around;
    gap: 27rem;
    align-items: center;
    position: fixed;
    z-index: 9999;
    img {
       width: 3.5rem; 
    }

    nav {
        display: flex;
        gap: 2rem;
        padding-right: 3rem;
        
        a {
            color: #fff;
            font-size: 20px;
            position: relative;
            display: inline-block;
            cursor: pointer;
            
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -8px; 
                width: 100%;
                height: 3px;
                background: $gradient;
                background-size: 200% 200%; 
                transform: scaleX(0);
                transform-origin: right; 
                transition: transform 0.3s ease-in-out; 
              }
            
              &:hover::after {
                transform: scaleX(1); 
                animation: border-animate 5s linear infinite; 
              }

              &.active::after {
                transform: scaleX(1); 
                animation: none; 
              }
            }
            
            @keyframes border-animate {
              0% {
                background-position: 0% 50%;
              }
              100% {
                background-position: 100% 50%;
              }

        } 
        
    }
}
