@import "./variables";

@mixin background() {
  background: radial-gradient(ellipse 40% 45% at center, #82454e, #180824);
  width: 100%;
  height: 100vh;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-gradient {
  background: linear-gradient(90deg, #5829d6 25%, #e75e98 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin link-btn {
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 15px;
  transition: 1s;
  margin: 1rem 1rem 0 0;
  display: inline-block;
  text-align: center;
  border: none;
  position: relative;
  z-index: 1;
  transition: 1s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $gradient;
    z-index: -1;
    border-radius: inherit;
    padding: 1px;
    transition: all 0.4s ease-in-out;
    background-size: 200% 200%;
    animation: border-animate 3s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #000;
    z-index: -1;
    border-radius: inherit;
  }

  &:hover {
    transform: scale(1.1);
  }

  i {
    margin: 0 0.5rem;
  }
}

@mixin responsive($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 481px) {
      @content;
    }
  } @else if $breakpoint == laptop {
    @media (min-width: 769px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1025px) {
      @content;
    }
  } @else if $breakpoint == large-desktop {
    @media (min-width: 1441px) {
      @content;
    }
  }
}

@mixin borderStyle {
  border: none;
  position: relative;
  z-index: 1;
  transition: 1s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $gradient;
    z-index: -1;
    border-radius: inherit;
    padding: 1px;
    transition: all 0.4s ease-in-out;
    background-size: 200% 200%;
    animation: border-animate 3s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #000;
    z-index: -1;
    border-radius: inherit;
  }

  &:hover {
    transform: scale(1.05);
    &::before {
      background: #e75e98;
      animation: none;
    }
  }
}

@mixin animated-btn {
  @include flex-center();
  width: 100%;
  font-size: 0.75rem;
  margin: 1rem auto;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  background-size: 200% auto;
  background-image: linear-gradient(
    -45deg,
    #5829d6 0%,
    rgb(202, 146, 255) 50%,
    #e75e98 100%
  );
  animation: gradientAnimation 4s ease infinite;
  color: #fff;

  i {
    margin-left: 0.5rem;
  }
}

@keyframes border-animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
