$primary-color: #e75e98;
$secondary-color: #5829d6;
$white-color: #f3eded;
$grey-color: #a4a4a4;
$bg-color: rgba(24, 8, 36, 0.5);

$gradient: linear-gradient(
  90deg,
  $secondary-color 25%,
  $primary-color 50%,
  $secondary-color 75%
);
