@import './variables.scss';

html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', serif;
    color: $whiteColor;
}

a {
    text-decoration: none;
    color: #000;
}
