@import "../../../scss/variables";
@import "../../../scss/mixins";

.portfolio-card {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding: 1.5rem;
  border-radius: 0.5rem;
  height: 31rem;

  .img-wrapper {
    text-align: center;

    img {
      width: 24rem;
      height: 15rem;
      border-radius: 0.5rem;
    }
  }

  h1 {
    font-weight: 300;
    font-size: 28px;
  }

  p {
    color: $greyColor;
    width: 24rem;
    margin: 0.5rem 0 1.25rem 0;
  }

  .portfolio-card-links {
    @include flex-center();
    justify-content: space-between;
    a {
      color: #4984f2;

      i {
        color: #4984f2;
        margin-left: 0.5rem;
      }
    }
  }
}
